@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap'); */

@import "tailwindcss";

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5;
  font-weight: 400; */

  color-scheme: light dark;
  color: #213547;
  /* background-color: #ffffff; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Hahmlet", serif;
  font-weight: 400;
  font-style: normal;

  @apply bg-neutral-200 text-neutral-600;
}

h1 {
  font-family: "Gugi", cursive;
  @apply text-neutral-600;
}

/* 작업 환경 (모니터 개수) 에 따라 스크롤바가 보이는 경우 or 보이지 않는 경우가 생겨 스크롤바 없앰  */
::-webkit-scrollbar {
  display: none;
}

:focus {
  outline: none;
}

a {
  font-weight: 500;
  /* color: #213547; */
  text-decoration: inherit;
  @apply transition duration-200 ease-in-out;
}

a:hover {
  /* color: #283643; */
  /* @apply scale-110 opacity-70; */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100vh;
}

#root {
  height: 100vh;
}

button {
  /* border-radius: 8px; */
  /* border: 1px solid transparent; */
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: inherit; */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  /* border-color: #213547; */
}

button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    /* color: #283643; */
  }

  button {
    /* background-color: #f9f9f9; */
  }
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

::-webkit-calendar-picker-indicator:hover {
  opacity: 0.5;
}

input {
  background-color: rgba(256, 256, 256, 0.4);
}

/* 테이블 디자인 */
thead>tr {
  @apply text-nowrap;
}

tbody>tr:nth-child(odd) {
  @apply bg-neutral-400/20;
  /* @apply bg-white/30; */
  /* @apply bg-indigo-200/30; */
}

tbody>tr {
  @apply transition duration-200 ease-in-out cursor-pointer border-none;
}

tbody>tr:hover {
  @apply bg-neutral-400/50;
  /* @apply bg-white/50; */
  /* @apply bg-indigo-300/30; */
}

tbody>tr>td {
  @apply text-ellipsis overflow-hidden;
}

tbody>tr>td>a>span {
  @apply text-ellipsis overflow-hidden;
}

/* 메인 배경 색상 */
.main-bg {
  /* @apply bg-neutral-300/60; */
}

/* 헤더 디자인 */
header {
  @apply border-b-2 border-neutral-400;
}

/* 카드 디자인 */
.block-main {
  @apply rounded-xl p-3 flex flex-col justify-between;
}

.block-detail {
  @apply rounded-xl p-4 flex flex-col justify-between border-2 border-neutral-400;
}

.card-main {
  @apply rounded-xl p-0 flex drop-shadow-md border-2 border-neutral-400;
}

.gray-hover {
  @apply transition duration-400 ease-in-out hover:bg-neutral-200/30;
}

.section-title-main {
  @apply text-2xl text-gray-700 font-bold ml-3;
}

/* 하단 디자인 */